* {
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #f8f9fa;
}

a, a:hover {
	text-decoration: none;
	color: #f8f9fa;
}

body {
	background-color: #2e4052;
}

/* Header*/

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px 100px;
}

header .logo {
	font-size: 2em;
	font-weight: 700;
	position: relative;
	padding-right: 30px;
	color: #f8f9fa;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

nav ul {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	position: relative;
	margin-left: 30px;
}

nav ul li a, nav ul li a:after {
	transition: all .5s;
}

nav ul li a:after {
	position: absolute;
	right: 0;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 2px;
	margin: auto;
	content: "";
	color: transparent;
	background: #f8f9fa;
}

nav .navigation li a:hover:after {
	width: 100%;
}

nav .action li a {
	font-size: 1.25em;
	margin: 0;
	padding: 5px 18px;
	transition: all .3s;
	color: #000;
	border: 1px solid transparent;
	border-radius: 60px;
	background-color: #fff;
}

nav .action li a:hover {
	z-index: 1;
	color: #f8f9fa;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.1);
}

.menuBurger {
	display: none;
}

.column {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.cover {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 18.75rem;
	background-position: 50%;
	background-size: cover;
	/* background-color: blueviolet; */
}

.summonerInfo {
	position: relative;
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: auto;
	padding: 0rem 10rem 0rem;
	background-color: #383b53;
}

.summonerMetaData {
	line-height: 2.5rem;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem 10rem;
	background-color: #412234;
}

.summonerName {
	font-size: 5rem;
	position: inherit;
	margin-left: 2.5rem;
}

.profile-icon {
	position: relative;
	bottom: 2rem;
	border: 4px solid white;
	border-radius: 100%;
}

.break {
	line-height: 1.2rem;
	float: left;
	height: 10px;
	background-color: #383b53;
}

.breakright {
	line-height: 1.2rem;
	display: flex;
	float: right;
	flex-direction: row-reverse;
	height: 10px;
	margin-right: 2rem;
	background-color: #383b53;
}

/* Main */

main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 75vh;
}

.searchbar {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	background-color: #fff;
}

.searchSum {
	width: 60%;
}

.dropdown {
	position: relative;
}

.dropdown-region {
	width: 75px;
	margin-right: 1px;
}

.dropdown-rank {
	flex-grow: 1;
	border-radius: 0;
}

.dropdown-toggle {
	width: 100%;
	text-align: left;
	border-radius: 5px 0 0 5px;
}

.dropdown-rank .dropdown-toggle {
	border-radius: 0;
}

.dropdown-toggle::after {
	position: absolute;
	top: 45%;
	right: 10%;
}

.dropdown-rank .dropdown-toggle::after {
	right: 3%;
}

.btn:focus, .btn:active:focus {
	box-shadow: none;
}

.dropdown-menu {
	min-width: unset;
	background-color: #343a40;
}

.dropdown-item {
	color: #f8f9fa;
}

.form-control {
	margin-right: 1px;
	transition: unset;
	border-color: transparent;
}

.dropdown-rank.form-control {
	padding: 0;
}

.form-control:focus {
	border: none;
	box-shadow: none;
}

.search-btn {
	margin-left: 1px;
	border-radius: 0 5px 5px 0;
	background-color: #fff;
}

.searchLB .search-btn {
	border: 1px solid #6c757d;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
	border-radius: 0 5px 5px 0;
}

.fa-search {
	color: #6c757d;
}

.table-container {
	min-height: 75vh;
}

/* Login Page */

.container {
	position: relative;
	width: 800px;
	height: 500px;
	margin: 20px;
	padding: 0;
}

.box-container {
	position: absolute;
	top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 420px;
	background-color: rgba(255, 0, 0, 0.2);
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.box-container .box {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.box-container .box h1 {
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 20px;
	color: #fff;
}

.box-container .box button {
	font-size: 16px;
	font-weight: 500;
	padding: 8px 16px;
	cursor: pointer;
	color: #333;
	border: none;
	background-color: #fff;
}

.form-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	transition: 0.3s ease-in-out;
	background-color: #fff;
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
}

.form-container.active {
	left: 50%;
}

.form-container .form {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 50px;
	transition: 0.3s ease-in-out;
}

.form-container.active .signInForm {
	left: -100%;
}

.form-container .signUpForm {
	left: 100%;
}

.form-container.active .signUpForm {
	left: 0;
}

.form-container .form form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-container .form form h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 20px;
	color: #333;
}

.form-container .form form input {
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	color: #000;
	border: 1px solid #333;
	outline: none;
}

.form-container .form form input.error {
	border: 1px solid #d00;
}

.form-container .form form input[type="submit"] {
	max-width: 100px;
	cursor: pointer;
	color: #fff;
	border: none;
	background-color: #000;
}

.form-container .form form div {
	visibility: hidden;
	margin-bottom: 10px;
}

.form-container .form form div small {
	color: #d00;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
}

/*  Background Video  */

.video-bg {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

/* Lottie */

.lottie {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0.8;
	background-color: #fff;
}

.lottie lottie-player {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Media Queries */

@media (min-aspect-ratio: 16/9) {
	.video-bg {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.video-bg {
		top: -9999px;
		right: -9999px;
		bottom: -9999px;
		left: -9999px;
		width: auto;
		height: 100%;
		margin: auto;
	}
}

@media (max-width: 991px) {
	header {
		padding: 20px;
	}

	nav {
		justify-content: right;
	}

	nav .navigation {
		display: none;
	}

	nav .navigation li a {
		font-size: 1.5em;
		margin: 10px 0;
	}

	nav .navigation.active {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #2e4052;
	}

	.menuBurger {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-left: 20px;
		cursor: pointer;
		transition: .2s;
	}

	.menuBurger::before {
		position: absolute;
		width: 28px;
		height: 2px;
		content: "";
		transition: .2s;
		transform: translateY(-10px);
		background-color: #fff;
		box-shadow: 0 10px 0 #fff;
	}

	.menuBurger.active::before {
		transform: translateY(0px) rotate(45deg);
		box-shadow: 0 0 0 #fff;
	}

	.menuBurger::after {
		position: absolute;
		width: 28px;
		height: 2px;
		content: "";
		transition: .2s;
		transform: translateY(10px);
		background-color: #fff;
	}

	.menuBurger.active::after {
		transform: translateY(0px) rotate(-45deg);
		box-shadow: 0 0 0 #fff;
	}

	.summonerInfo {
		align-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.summonerName {
		bottom: 2rem;
		margin-left: 0rem;
	}

	.summonerMetaData {
		padding: 0rem;
	}

	.summonerMetaData img {
		width: 30px;
		height: 30px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 400px;
		height: 650px;
	}

	.container .box-container {
		top: 0;
		height: 100%;
	}

	.form-container {
		top: 0;
		width: 100%;
		height: 500px;
		box-shadow: #e2e2e2;
	}

	.form-container.active {
		top: 150px;
		left: 0;
	}

	.box-container .box {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 150px;
	}

	.signIn {
		top: 0;
	}
}