* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	color: #F8F9FA;
}

a, a:hover {
	color: #F8F9FA;
	text-decoration: none;
}

/* Background Video */

.video-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: auto;
}

/* Media Queries */

@media (min-aspect-ratio: 16/9) {
	.video-bg {
		width:100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.video-bg {
		width:auto;
		height: 100%;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}
}